mixin bottom-navbar(pageTitle, ...tabs)
  .botnav-left
    a(href='/' class='reddit-header')
    if subreddit
      a(href='/r/' + subreddit.name  class='page-name')=pageTitle
    else if userScore
      a(href='/user/' + pageTitle class='page-name')=pageTitle
    else
      span(class='page-name')=pageTitle
    ul(class='tab-menu')
      if subreddit
        each tab in tabs
          li: a(href!= '/r/' + subreddit.name + '/' + tab)=tab
      else if userScore
        each tab in tabs 
          li: a(href!= '/user/' + pageTitle + '/' + tab)=tab
        
  .botnav-right
    if user
      span(class='user')
        a(href!='/user/' + user.username) #{user.username}
        span(class='user-karma' title='post karma') (#{user.totalScore})
        span(class='separator') |
        a(class='logout hover' href='/uauth/logout') Logout
        if user.isAdmin
          span(class='separator') |
          a(href='/admin/dashboard') Administrator Dashboard
    else
        a(href='/uauth/register') Register
        span(class='separator') |
        a(href='/uauth/login') Login
        
      
      
