mixin Comment(commentToDisplay)
  .commentContainer(data-depth=commentToDisplay.depth)
    .voteContainer
      if (user && user.upvotedComments.indexOf(commentToDisplay._id) > -1)
        div(class='arrow-up-voted login-required comment', data-action='upvote', data-id=commentToDisplay._id)
      else
        div(class='arrow-up login-required comment', data-action='upvote', data-id=commentToDisplay._id)
      span(class='score')!=(commentToDisplay.upvotes - commentToDisplay.downvotes)
      if (user && user.downvotedComments.indexOf(commentToDisplay._id) > -1)
        div(class='arrow-down-voted login-required comment', data-action='downvote', data-id=commentToDisplay._id)
      else
        div(class='arrow-down login-required comment', data-action='downvote', data-id=commentToDisplay._id)
    .commentInfoContainer
      .user_points_timeSince
        a.commentUsername(href='/user/' + commentToDisplay.user)= commentToDisplay.user
        p.commentPoints= commentToDisplay.upvotes - commentToDisplay.downvotes + ' points '
        p.timeSince= timeSince(commentToDisplay.timestamp)
      p.commentContent= commentToDisplay.content
      if user
        a.commentReply(href='#', data-id=commentToDisplay._id) reply
        .replyBox(id=commentToDisplay._id)
          form(method='post', action='/post/' + post._id + '/submitComment/' + commentToDisplay._id + '/' + commentToDisplay.depth)
            textarea.commentReplyTextArea(name='commentContent', rows='7', cols='75')
            br
            input.commentSubmitButton(type='submit', value='save')
      else
        a.commentReply(href='/uauth/login') login to reply
