//- Declaration (post-mixin.pug)
mixin post(post, rank)
  .post
    span(class='rank')=rank
    .post-votes-info
      if (user && user.upvotedPosts.indexOf(post._id) > -1)
        .arrow-up(data-action='upvote', data-id=post._id, data-user=user.username, style='background-color: orange')
      else
        .arrow-up(data-action='upvote', data-id=post._id, data-user!=user ? user.username : null)
      span(class='score')!=(post.upvotes - post.downvotes)
      if (user && user.downvotedPosts.indexOf(post._id) > -1)
        .arrow-down(data-action='downvote', data-id=post._id, data-user=user.username, style='background-color: blue')
      else
        .arrow-down(data-action='downvote', data-id=post._id, data-user!=user ? user.username : null)
  
    .entry
      a(class='title', href='/post/' + post._id)=post.title
      .tag-line 
        p(class='tag-text')='Submitted ' + timeSince(post.timestamp) + ' by '
        a(class='tag-author' href!='/user/' + post.user)=post.user
        p(class='tag-text')=' to '
        a(class='tag-subreddit' href!='/r/' + post.subreddit)='r/' + post.subreddit
