//- Declaration (post-mixin.pug)
mixin post(post, rank)
  .post(id=post._id)
    span(class='rank')=rank
    .post-votes-info
      if (user && user.upvotedPosts.indexOf(post._id) > -1)
        div(class='arrow-up-voted login-required', data-action='upvote', data-id=post._id)
      else
        div(class='arrow-up login-required', data-action='upvote', data-id=post._id)
      span(class='score')!=(post.upvotes - post.downvotes)
      if (user && user.downvotedPosts.indexOf(post._id) > -1)
        div(class='arrow-down-voted login-required', data-action='downvote', data-id=post._id)
      else
        div(class='arrow-down login-required', data-action='downvote', data-id=post._id)
  
    .entry
      a(class='title', href='/post/' + post._id)=post.title
      .tag-line 
        p(class='tag-text')='Submitted ' + timeSince(post.timestamp) + ' by '
        a(class='tag-author' href!='/user/' + post.user)=post.user
        p(class='tag-text')=' to '
        a(class='tag-subreddit' href!='/r/' + post.subreddit)='r/' + post.subreddit
